
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>
    This application was created in order to study and explore new technologies and design patterns.
</p>

<h3>Information sources:</h3>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                Technology
            </th>
            <th>
                Link
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Onion Architecture</td>
            <td><a href="https://www.codewithmukesh.com/blog/onion-architecture-in-aspnet-core/">https://www.codewithmukesh.com/blog/onion-architecture-in-aspnet-core/</a></td>
        </tr>
        <tr>
            <td>CQRS</td>
            <td><a href="https://www.codewithmukesh.com/blog/cqrs-in-aspnet-core-3-1/">https://www.codewithmukesh.com/blog/cqrs-in-aspnet-core-3-1/</a></td>
        </tr>
        <tr>
            <td>Local git deploy with Kudu </td>
            <td><a href="https://docs.microsoft.com/en-us/azure/app-service/deploy-local-git#deploy-with-kudu-build-server">https://docs.microsoft.com/en-us/azure/app-service/deploy-local-git#deploy-with-kudu-build-server</a></td>
        </tr>
        <tr>
            <td>Local git deploy with Pipelines </td>
            <td><a href="https://docs.microsoft.com/en-us/azure/app-service/deploy-local-git#deploy-with-azure-pipelines-builds">https://docs.microsoft.com/en-us/azure/app-service/deploy-local-git#deploy-with-azure-pipelines-builds</a></td>
        </tr>
        <tr>
            <td>Deploy using slots</td>
            <td><a href="https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots">https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots</a></td>
        </tr>
         <tr>
            <td>Repository pattern</td>
            <td><a href="https://www.codewithmukesh.com/blog/repository-pattern-in-aspnet-core/">https://www.codewithmukesh.com/blog/repository-pattern-in-aspnet-core/</a></td>
        </tr>
        <tr>
            <td>Secrets file in development</td>
            <td><a href="https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-3.1&tabs=linux">https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-3.1&tabs=linux</a></td>
        </tr>
    </tbody>
</table>