
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>
    This application was created in order to study and explore new technologies and design patterns.
</p>

<h3>Information sources:</h3>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                Technology
            </th>
            <th>
                Link
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Onion Architecture</td>
            <td>https://www.codewithmukesh.com/blog/onion-architecture-in-aspnet-core/</td>
        </tr>
        <tr>
            <td>CQRS</td>
            <td>https://www.codewithmukesh.com/blog/cqrs-in-aspnet-core-3-1/</td>
        </tr>
    </tbody>
</table>